body
{
    z-index: 2;
    font-family: 'Roboto', cursive;
}
header
{
    z-index: 1;
    width: 100%;
    position: sticky;
    top:0;
    background-color: white;
    padding-top: 20px;
    text-align: center;
}
#logo
{
    font-family: 'Shrikhand', sans-serif;
    font-size: 84px;
    margin: auto;
    text-align: center;
    padding: 10px;
}
h1
{
    font-weight: 700;
    font-size: 36px;
}
nav
{
    text-align: center;
    margin: auto;
    background-color: #f6f6f6;
    margin-bottom: 50px;
}
nav p
{
    font-weight: 300;
}
#localisation
{
    width: 100%;
    background: linear-gradient(180deg,lightgrey 1%, #eaeaea 10%);;
    padding-top: 40px;
    padding-bottom: 40px;
}
#localisation i
{
    cursor: pointer;
    font-size: 32px;
    margin-left: -60px;
    margin-right: 40px;
}
#localisation p
{
    display: inline;
    font-size: 12px;
    font-weight: 500;
}
input
{
    position: relative;
    height: 40px;
    width: 210px;
    border:0;
    outline:0;
    background-color: #eaeaea;
    font-size: 28px;
}
button
{
    background: #FF79DA;
    font-size: 40px;
    font-weight: 500;
    width: auto;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    color: white;
    box-shadow: 5px 10px 18px #d2d1d1;
    cursor: pointer;
    transition: all 0.4s;
}
button:hover
{
    background: linear-gradient(170deg, #fe8cdd, #a578dc);
    box-shadow: 5px 10px 18px #a1a1a1;
}
button:active
{
    transform: scale(0.98);
}
.fonction
{
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 50px;
    background-color: #eaeaea;
    box-shadow: 5px 10px 18px #d2d1d1;
}
.fontext
{
    display: inline;
    font-size: 15px;
    font-weight: 500;
}
.number
{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #9356DC;
    left: -20px;
    top: calc(50% - 25px);
}
.number p
{
    position: absolute;
    top: -23px;
    left: 16px;
    font-size: 30px;
    font-weight: 500;
    color: white;
}
i
{
    margin-left: 80px;
    margin-right: 50px;
}
main
{
    background-color: #f6f6f6;
    padding-top: 100px;
    padding-bottom: 100px;
}
main h1
{
    margin-left: 5%;
    margin-bottom: 50px;
}
.fon
{
    margin-left: 5%;
}
.carte
{
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 5px 10px 18px #d2d1d1;
    margin-bottom: 30px;
}
.carte a
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.cadre
{
    width: 100%;
    height: 500px;
    border-radius: 30px 30px 0 0;
}
.photo
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}
.carte h2
{
    font-size: 48px;
    margin-left: 30px;
}
.carte p
{
    font-size: 42px;
    font-weight: 300;
    margin-left: 30px;
    margin-top: -30px;
    margin-bottom: 20px;
}
footer
{
    background-color: #353535;
    color: #e8e8e8;
    padding-bottom: 50px;
}
footer h3
{
    
    padding-left: 5%;
    font-family: 'Shrikhand', sans-serif;
    font-size: 32px;
    font-weight: 400;
}
footer p
{
    font-size: 14px;
    margin-left: 5%;
}
footer p:hover
{
  text-decoration: underline;
}
footer p:active
{
  text-decoration: underline;
}
footer p i
{
    margin-left: 0;
}


.fav
{
    position: absolute;
    left: 75%;
    top: 550px;
}
.switch 
{
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 5px;
    font-size: 50px;
    color: #f6f6f6;
}
input:checked + .slider 
{
    color: transparent;
}
.on
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 60px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.4s;
}
.off
{
    transition: all 0.4s;
}
/*.fa-heart:hover
{
    color: #fbafe5;
}*/
a {text-decoration: none;}
a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in 
{
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:0.2s;
    -moz-animation-duration:0.2s;
    animation-duration:0.2s;

    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;

    background-color: white;
    z-index: 1;
}

#loader 
{
    z-index: 0;
    position: absolute;
    top: calc(50vh - 60px);
    left: calc(50% - 60px);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-bottom: 16px solid #FF79DA;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
